@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-8 { font-size: 8px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.orange600 { color: #FB8C00; }

/* Swiper */
.demo-swiper .swiper-slide {

    background-size: cover;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*background: #fff;*/
    color: #000;

}
.demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;
    /*background: #fff;*/
}
.demo-swiper {
    margin: 0px 0 0px;
    /*font-size: 18px;*/
    height: 180px;
}

.demo-swiper-multiple .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fff;
}

.demo-swiper-multiple {
    margin: 0px 0 35px;

    height: 120px;
}

.demo-swiper.demo-swiper-auto .swiper-slide {
    margin: 0px 0 35px;
    padding: 0 0 5px 5px;
    height: 150px;
    width: 150px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 6px;
}


.list .item-subtitle {
    white-space: normal;
}

.row-pall-orange {
    background-color: #fbdaa9;
    padding: 10px;
}

.item-media img {
    border-radius: 6px;
}

.list .item-title {
    font-weight: 600;
}


.button {
    white-space: normal;
    border-radius: 5px;
    padding: 0 4px;
}
.md .button {

    text-transform: none;
    padding: 0 4px;
    border-radius: 5px;
}

.md .button.button-big, .md .button.button-big-md {
    height: 88px;
    line-height: 18px;
    border-radius: 5px;
    padding: 8px 6px 0 6px;

}

.list-preloader {
    margin-top: 50px;
}

.swiper-slide > a {
    color: white !important;
}

.popover {
    width: 220px;
}

.md .popover .list .item-content {
    padding-left: 6px;

}
.popover .list .item-title {
    font-weight: 500;
}

.md .popover .list .item-media+.item-inner {
    margin-left: 2px;
}