<div class="page" data-name="details-template">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">Back</span>
                </a>
            </div>
            <div id="details-title" class="title"></div>
        </div>
    </div>
    <div class="page-content">
        <div id="details-swiper" data-pagination='{"el": ".swiper-pagination"}' data-space-between="0"
             data-centered-slides="true" class="swiper-container swiper-init demo-swiper">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper" id="gallery-list">
                <div class="swiper-slide"
                     style="background-image:url(/images/placeholder.png)">
                </div>
            </div>
        </div>
        <div id="details-div">
            <div class="row row-pall-orange">
                <div class="col-20 text-color-orange"># &#10084;</div>
                <div class="col-40 text-color-blue"></div>
                <div class="col-20">
                    <button class="button button-small"><i class="material-icons md-dark orange600">map</i></button>
                </div>
                <div class="col-20">
                    <button class="button button-small "><i class="material-icons md-dark orange600">favorite_border</i>
                    </button>
                </div>
            </div>
            <div class="block-title"></div>
            <div class="block block-strong">

            </div>
        </div>
    </div>
</div>

