<template>
    <div class="page" data-name="details-template">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="ios-only">Back</span>
                    </a>
                </div>
                <div class="title">Details Template</div>
            </div>
        </div>
        <div class="page-content">
            <div id="my-swiper" data-pagination='{"el": ".swiper-pagination"}' data-space-between="0" data-centered-slides="true" class="swiper-container swiper-init demo-swiper">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper" id="gallery-list">
                    <div class="swiper-slide" style="background-image:url(http://www.achtypistours.gr/sites/default/files/imagecache/galleryformatter_slide/11/09/syros-greece-81916.jpg)">Slide 1</div>
                </div>
            </div>
            <div class="row row-pall-orange">
                <div class="col-20 text-color-orange">3 &#10084;</div>
                <div class="col-20 text-color-blue">514 m</div>
                <div class="col-20"><button class="button button-small"><i class="material-icons md-dark orange600">map</i></button></div>
                <div class="col-20"><button class="button button-small"><i class="material-icons md-dark orange600">share</i></button></div>
                <div class="col-20"><button class="button button-small "><i class="material-icons md-dark orange600">favorite_border</i></button></div>
            </div>
            <div class="block-title">Περισσότερα...</div>
            <div class="block block-strong">
                <p>Το όνομα Σύρος προέρχεται από τους πρώτους κατοίκους του νησιού, τους Φοίνικες. Σήμερα υπάρχουν δύο εκδοχές για την ονομασία αυτή. Σύμφωνα με την πρώτη, το όνομα προέρχεται από τη λέξη Ουσύρα που σημαίνει ευτυχής, ενώ σύμφωνα με τη δεύτερη, προέρχεται από το Συρ που σημαίνει βράχος. Ο Όμηρος την ονομάζει "Συρίη", ενώ τον 17ο αιώνα αναφέρεται και ως το νησί του Πάπα: "L'isola del Papa", λόγω του καθολικού δόγματος των κατοίκων της.</p>
                <p>Η Σύρος βρίσκεται στο κεντρικό σημείο των Κυκλάδων και απέχει 83 ναυτικά μίλια από τον Πειραιά και 62 από τη Ραφήνα. Η έκτασή της είναι 84,069 τ.χλμ..
                    Γειτνιάζει με αρκετά νησιά του κυκλαδίτικου συμπλέγματος. Στα βόρεια βρίσκεται η Άνδρος, βορειοανατολικά η Τήνος και ανατολικά η Μύκονος καθώς και τα μικρά νησιά της Δήλου και της Ρήνειας. Βορειοδυτικά βρίσκονται η Κέα και η Γυάρος, δυτικά η Κύθνος και νοτιοδυτικά η Σέριφος. Στα νότια βρίσκονται η Σίφνος, η Αντίπαρος, η Πάρος και η Νάξος.</p>
                <p>Στο νησί υπάρχουν αρκετοί οικισμοί, μεταξύ των οποίων ο ενετικός οικισμός της Άνω Σύρου καθώς και οι προϊστορικοί οικισμοί "Καστρί" και "Χαλανδριανή". Μερικά γνωστά χωριά της Σύρου είναι ο Γαλησσάς, το Κίνι, η Ντελαγράτσια (ή Ποσειδωνία), ο Φοίνικας, η Βάρη, ο Μεγας Γυαλός και η Αζόλιμνος.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    // script must return component object
    return {
        data: function () {
            return {
                title: 'Component Page',
                names: ['John', 'Vladimir', 'Timo'],
            }
        },
        methods: {
            openAlert: function () {
                var self = this.$app.dialog.alert('Hello world!');
            },
        },
        on: {
            pageInit: function () {
                // do something on page init
            },
            pageAfterOut: function () {
                // page has left the view
            },
        }
    }
</script>
